@use '../variables'

.portfolio
    display: flex
    flex-wrap: wrap
    padding: 3rem
    gap: 3rem
    
    
    h1
        width: 100%
        font-size: 5rem
        margin-bottom: 3rem
        background: variables.$gradient
        overflow: hidden
        white-space: nowrap
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        animation: hu__hu__ infinite 2s ease-in-out
        @keyframes hu__hu__ 
        transform: 50% translateY(30px) 

        

       